// Media query for mobile content (portrait)
@media screen and (max-width: 450px) {

    // Quizz content
    .quizz_container {
        padding: .5rem 1.5rem;
        padding-top: 3.5rem;
        gap: 1rem;
        justify-content: center;

        .loading_container {
            flex: .65;
        }
    }


    // Questions content
    .questions_container {
        gap: 1rem;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
    }


    // Results content
    .results_container {
        gap: 1.9rem;
        height: 10%;

        .results_description {
            flex: 2;
            gap: .5rem;

            .results_correct_answers {
                font-size: .85rem;
            }

            .completion_bar_frame {
                padding: .35rem;

                .completion_bar_filling {

                    &::before {
                        height: 50%;
                    }
                }
            }
        }

        .results_buttons_container {
            gap: 1.25rem;
            flex: 3;

            .quizz_action_button {
                padding: .6rem .7rem;
                font-size: .8rem;
            }

            .quizz_reset_button {
                padding: .6rem .7rem;
                font-size: .8rem;
            }
        }
    }
}


// Media query for mobile content (landscape)
@media screen and (max-height: 750px) and (min-width: 451px) {

     // Quizz content
     .quizz_container {
        padding: 1.25rem 3.5rem;
        padding-bottom: .75rem;

        .loading_container {
            flex: .75;
        }
    }


    // Questions content
    .questions_container {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 80%;
    }


    // Results content
    .results_container {
        width: 100%;
        gap: 2.5rem;
        padding-top: 1rem;
        position: relative;
        height: 18%;
        border-top: .01rem solid var(--button-bg-color);

        .results_description {
            flex: 2.75;
            gap: .5rem;

            .results_correct_answers {
                font-size: .85rem;
                text-align: center;
            }

            .completion_bar_frame {
                padding: .5rem;

                .completion_bar_filling {

                    &::before {
                        height: 72.5%;
                    }
                }
            }
        }

        .results_buttons_container {
            gap: 2rem;
            flex: 3;

            .quizz_action_button {
                padding: .6rem 1.5rem;
                font-size: .85rem;
            }

            .quizz_reset_button {
                padding: .6rem 1.5rem;
                font-size: .85rem;
            }
        }
    }
}
