// Quizz content
.quizz_container {
    // padding: 4rem 6rem;
    padding: 3% 7% 1.5% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 92%;
    gap: 1.5%;

    .loading_container {
        width: 100%;
        display: flex;
        flex: 2.5;
        align-items: center;
        justify-content: center;


        svg {
            color: var(--main-text-color);
            font-size: 6rem;

            @keyframes spinInfinite {
                0% {
                    //rotate: x 90deg;

                    rotate: 0;
                }

                100% { 
                    rotate: 360deg;
                }
            }

            animation: spinInfinite 1.25s linear 0s infinite;
        
        }
    }
}


// Question content
.questions_container {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
    overflow-y: auto;
    min-width: 70%;
    max-width: 95%;
    padding: .25rem 2rem;
}


// Results content
.results_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 1rem;

    .results_description {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &.results_description_hide {
            display: none;
        }

        .results_correct_answers {
            margin: 0;
            color: var(--main-text-color);
        }

        .completion_bar_frame {
            padding: .7rem;
            border: .08rem solid var(--completion-bar-outer-border-bg-color);
            border-radius: 1rem;
            background-color: var(--completion-bar-bg-color);
            position: relative;

            .completion_bar_filling {
                position: absolute;
                top: 0;
                left: -.5%;
                padding: .7rem;
                background-color: transparent;
                transition: all .3s ease-in-out;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--completion-bar-filling-bg-color);
                    top: -3.5%;
                    left: -.5%;
                    border-radius: 1rem;
                    border: .01rem solid var(--completion-bar-filling-border-color);

                    @keyframes completionBarAnimation {
                        0% {
                            width: 0%;
                            opacity: 0;
                        }

                        50% {
                            width: 35%;
                            opacity: .5;
                        }

                        100% {
                            width: 100%;
                            opacity: 1;
                        }
                    }

                    animation: completionBarAnimation 1.2s linear;
                }
            }
        }
    }

    .results_buttons_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        
        .quizz_action_button {
            background-color: var(--button-bg-color);
            color: var(--button-color);
            padding: .75rem 1rem;
            border-radius: .75rem;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            transition: all .2s ease-in-out;
        }

        .quizz_reset_button {
            background-color: var(--quizz-reset-button-bg-color);
            color: var(--button-color);
            padding: .75rem 1rem;
            border-radius: .75rem;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            transition: all .2s ease-in-out;
        }
    }
}


@import './media';
