// Media query for mobile extremelly small screens
@media screen and (max-width: 400px),
screen and (max-height: 450px) {

    // Question content
    .question_container {

        .question {
            font-size: .7rem;
        }

        .answers_container {
            width: 100%;
            gap: unset;
            justify-content: space-evenly;

            .answer_container {
                width: 20%;

                svg {
                    top: 1%;
                    font-size: 1.5rem;
                }

                .answer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    word-break: break-word;
                    padding: .15rem .4rem;
                    font-size: .525rem;
                    margin: .35rem 0 .25rem 0;

                    &.answer_correct {

                        @keyframes answer-correct-animation {
                            0% {
                                transform: scale(1);
                            }

                            100% {
                                transform: scale(1.15);
                            }
                        }
                    }
                }
            }
        }

        .question_separator {
            width: 100%;
            margin: 0;
            margin-top: .15rem;
        }
    }
}


// Media query for mobile content (portrait)
@media screen and (max-width: 550px) and (min-height: 450px) {

    // Question content
    .question_container {

        .question {
            font-size: .875rem;
        }

        .answers_container {
            width: 100%;
            gap: unset;
            justify-content: space-evenly;

            .answer_container {
                width: 20%;

                svg {
                    top: 1%;
                    font-size: 1.5rem;
                }

                .answer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    word-break: break-word;
                    padding: .15rem .4rem;
                    font-size: .625rem;
                }
            }
        }

        .question_separator {
            width: 100%;
            margin: 0;
            margin-top: .25rem;
        }
    }
}


// Media query for mobile content (landscape)
@media screen and (max-height: 1200px) and (min-width: 550px) and (max-width: 900px),
screen and (max-height: 750px) and (min-width: 900px) {

    // Question content
    .question_container {

        .question {
            font-size: .875rem;
        }

        .answers_container {
            gap: 1.5rem;
            justify-content: center;

            .answer_container {
                width: 20%;

                .answer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    font-size: .675rem;
                    word-break: break-word;
                    padding: .2rem .75rem;

                    &.answer_correct {

                        @keyframes answer-correct-animation {
                            0% {
                                transform: scale(1);
                            }
    
                            100% {
                                transform: scale(1.175);
                            }
                        }
                    }
                }
            }
        }

        .question_separator {
            margin-top: 0rem;
            margin-bottom: .2rem;
        }
    }
}