// Media query for unsuitable screens (mobile extremelly small)
@media screen and (max-width: 300px),
screen and (max-height: 200px) {

    // App content
    .app-container {
        visibility: hidden;
        overflow: hidden;

        &::before {
            position: fixed;
            visibility: visible;
            background-color: var(--app-bg-color);
            color: var(--header-color);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            content: "Your screen is too small to display this App :(";
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
        }
    }
}


// Media query for mobile content (portrait)
@media screen and (max-width: 450px) {

    // Dark Mode content
    .dark-mode-button {
        top: 1.5%;
        right: 2.50%;
        // width: 1.8rem;
        // height: 1.8rem;

        svg {
            //font-size: 1.2rem;
            padding: .3rem;
            width: .95rem;
            height: .95rem;
            
            &:hover {
                color: var(--dark-mode-icon-color);
                background-color: var(--dark-mode-icon-bg-color);
            }
        }
    }
}


// Media query for mobile content (landscape)
@media screen and (max-height: 750px) and (min-width: 451px) {

    // Dark Mode content
    .dark-mode-button {
        top: 2.5%;
        right: 1.5%;
        // width: 1.8rem;
        // height: 1.8rem;

        svg {
            //font-size: 1.2rem;
            padding: .3rem;
            width: .95rem;
            height: .95rem;
            
            &:hover {
                color: var(--dark-mode-icon-color);
                background-color: var(--dark-mode-icon-bg-color);
            }
        }
    }
}