// Media query for mobile content (portrait)
@media screen and (max-width: 450px) {

    // Quizz content
    .quizz-container {
        padding: .5rem 1.5rem;
        padding-top: 3.5rem;
        gap: 1rem;
        justify-content: center;

        .loading-container {
            flex: .65;
        }
    }


    // Questions content
    .questions-container {
        gap: 1rem;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
    }


    // Results content
    .results-container {
        gap: 1.9rem;
        height: 10%;

        .results-description {
            flex: 2;
            gap: .5rem;

            .results-correct-answers {
                font-size: .85rem;
            }

            .completion-bar-frame {
                padding: .35rem;

                .completion-bar-filling {

                    &::before {
                        height: 50%;
                    }
                }
            }
        }

        .results-buttons-container {
            gap: 1.25rem;
            flex: 3;

            .quizz-action-button {
                padding: .6rem .7rem;
                font-size: .8rem;
            }

            .quizz-reset-button {
                padding: .6rem .7rem;
                font-size: .8rem;
            }
        }
    }


    // Unstarted quizz page content
    .unstarted-quizz-container {
        padding: 7rem 3rem;

        .unstarted-quizz-title {
            font-size: 3rem;
        }

        .unstarted-quizz-text {
            font-size: 1.1rem;
        }

        .unstarted-quizz-inputs-container {

            label {
                font-size: 1.1rem;

                &:nth-of-type(1) {
                    flex: 2;
                }

                &:nth-of-type(2) {
                    flex: 1;
                }

                select {
                    padding: .55rem;
                    font-size: .95rem;
                }

                &:first-of-type select {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    width: 100%;
                }
            }
        }

        .unstarted-quizz-button {
            font-size: 1.2rem;
            padding: 1.25rem 5rem;
        }
    }


    // Footer container
    .footer_container {
        padding: .25rem .5rem;
        gap: .5rem;

        .footer_api_description {

            p {
                font-size: .7rem;
                word-spacing: .01rem;
            }
        }

        .footer_text_container {
            gap: .35rem;

            .footer_text {

                p {
                    word-spacing: .01rem;
                    font-size: .7rem;
                }
            }

            .footer_icon_container {
                gap: .3rem;

                a {
                    width: 1.75rem;
                    height: 1.75rem;
                    padding: .75rem;

                    i {
                        font-size: 1.15rem;
                    }

                    &:hover {
                        background-color: var(--footer-bg-color);

                        i {
                            color: var(--footer-color);
                        }
                    }
                }

                a:nth-of-type(1), a:nth-of-type(2) {
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }


    // Dark Mode content
    .dark-mode-button {
        top: 1.5%;
        right: 2.50%;
        width: 1.8rem;
        height: 1.8rem;

        i {
            font-size: 1.2rem;
            padding: .4rem;
            
            &:hover {
                color: var(--dark-mode-icon-color);
                background-color: var(--dark-mode-icon-bg-color);
            }
        }
    }
}


// Media query for mobile content (landscape)
@media screen and (max-height: 750px) and (min-width: 451px) and (max-width: 950px) {

    // Quizz content
    .quizz-container {
        padding: 1.25rem 3.5rem;
        padding-bottom: .75rem;

        .loading-container {
            flex: .75;
        }
    }


    // Questions content
    .questions-container {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 75%;
    }


    // Results content
    .results-container {
        width: 100%;
        gap: 2.5rem;
        padding-top: 1rem;
        position: relative;
        height: 25%;
        border-top: .01rem solid var(--button-bg-color);

        .results-description {
            flex: 2.75;
            gap: .5rem;

            .results-correct-answers {
                font-size: .85rem;
                text-align: center;
            }

            .completion-bar-frame {
                padding: .5rem;

                .completion-bar-filling {

                    &::before {
                        height: 72.5%;
                    }
                }
            }
        }

        .results-buttons-container {
            gap: 2rem;
            flex: 3;

            .quizz-action-button {
                padding: .6rem 1.5rem;
                font-size: .85rem;
            }

            .quizz-reset-button {
                padding: .6rem 1.5rem;
                font-size: .85rem;
            }
        }
    }


    // Unstarted quizz page content
    .unstarted-quizz-container {
        padding: 3rem;

        .unstarted-quizz-title {
            font-size: 2.15rem;
            padding-bottom: .95rem;
        }

        .unstarted-quizz-text {
            font-size: .9rem;
            padding-bottom: 1.25rem;
        }

        .unstarted-quizz-inputs-container {
            padding-bottom: 1.35rem;

            label {
                font-size: 1rem;

                &:nth-of-type(1) {
                    flex: 2;
                }

                &:nth-of-type(2) {
                    flex: 1;
                }

                select {
                    padding: .3rem;
                    font-size: .75rem;
                }

                &:first-of-type select {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    width: 100%;
                }
            }
        }

        .unstarted-quizz-button {
            font-size: 1rem;
            padding: .75rem 4rem;
        }
    }


    // Footer container
    .footer_container {
        height: 7.5%;
        padding: .15rem .75rem;

        .footer_api_description {

            p {
                font-size: .75rem;
                word-spacing: .015rem;
            }
        }

        .footer_text_container {
            gap: .5rem;

            .footer_text {

                p {
                    word-spacing: .015rem;
                    font-size: .75rem;
                }
            }

            .footer_icon_container {
                gap: .4rem;

                a {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: .7rem;

                    i {
                        font-size: 1rem;
                    }

                    &:hover {
                        background-color: var(--footer-bg-color);

                        i {
                            color: var(--footer-color);
                        }
                    }
                }

                a:nth-of-type(1), a:nth-of-type(2) {
                    i {
                        font-size: .875rem;
                    }
                }
            }
        }
    }


    // Dark Mode content
    .dark-mode-button {
        top: 2.5%;
        right: 1.5%;
        width: 1.8rem;
        height: 1.8rem;

        i {
            font-size: 1.2rem;
            padding: .4rem;
            
            &:hover {
                color: var(--dark-mode-icon-color);
                background-color: var(--dark-mode-icon-bg-color);
            }
        }
    }
}