// Font import
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


//General page content
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


// Variables
:root {
    --app-bg-color: rgb(237, 237, 237);
    --question-color: rgb(45, 45, 147);
    --question-box-shadow-color: rgb(140, 140, 182);
    --answer-color: rgb(39, 39, 123);
    --answer-border-color: rgba(31, 31, 105, 0.432);
    --answer-selected-color: rgba(94, 94, 255, 0.26);
    --answer-correct-color: rgb(116, 226, 145);
    --answer-correct-selected-color: rgb(229, 252, 79);
    --answer-correct-selected-text-color: rgb(39, 39, 123);
    --answer-incorrect-color: rgb(255, 171, 171);
    --answer-dimmed-color: rgb(0, 0, 100);
    --answer-dimmed-color-transparent: rgb(0, 0, 100, .775);
    --answer-checkmark-color: rgba(41, 199, 30, 0.8);
    --button-bg-color: rgba(41, 41, 135, 0.852);
    --button-color: rgb(238, 238, 238);
    --quizz-reset-button-bg-color: rgba(159, 20, 20, 0.921);
    --main-title-color: rgb(36, 36, 118);
    --main-text-color: rgb(21, 21, 21);
    --question-separator-border-color: rgba(0, 0, 0, 0.063);
    --dark-mode-icon-color: rgb(33, 33, 33);
    --dark-mode-icon-bg-color: rgba(189, 189, 189, 0.515);
    --dark-mode-icon-hover-color: rgba(228, 228, 228, 0.937);
    --dark-mode-icon-hover-bg-color: rgba(26, 26, 26, 0.99);
    --completion-bar-bg-color: rgb(255, 255, 255);
    --completion-bar-outer-border-bg-color: rgba(21, 21, 21, 0.408);
    --completion-bar-filling-bg-color: rgba(0, 191, 51, 0.434);
    --completion-bar-filling-border-color: rgba(180, 180, 180, 0.53);
    --form-select-container-color: rgb(252, 252, 252);
    --footer-bg-color: rgb(18, 18, 18);
    --footer-color: rgb(238, 238, 238);
}

.dark-mode {
    --app-bg-color: rgba(26, 26, 26, 0.99);
    --question-color: rgba(110, 176, 242, 0.93);
    --question-box-shadow-color: rgba(49, 97, 145, 0.93);
    --answer-color: rgb(218, 224, 255);
    --answer-border-color: rgba(78, 76, 191, 0.974);
    --answer-selected-color: rgba(47, 20, 200, 0.816);
    --answer-correct-color: rgb(0, 84, 0);
    --answer-correct-selected-color: rgb(185, 202, 77);
    --answer-correct-selected-text-color: rgb(23, 56, 6);
    --answer-incorrect-color: rgb(135, 32, 32);
    --answer-dimmed-color: rgb(255, 255, 255);
    --answer-dimmed-color-transparent: rgba(239, 242, 255, 0.9);
    --answer-checkmark-color: rgba(33, 198, 21, 0.725);
    --button-bg-color: rgba(67, 67, 255, 0.675);
    --button-color: rgb(213, 213, 213);
    --quizz-reset-button-bg-color: rgba(179, 49, 49, 0.704);
    --main-title-color: rgba(114, 114, 255, 0.778);
    --main-text-color: rgb(184, 184, 184);
    --question-separator-border-color: rgba(239, 239, 239, 0.09);
    --dark-mode-icon-color: rgba(194, 194, 194, 0.952);
    --dark-mode-icon-bg-color: rgba(0, 0, 0, 0.99);
    --dark-mode-icon-hover-color: rgba(18, 18, 18, 0.956);
    --dark-mode-icon-hover-bg-color: rgba(230, 230, 230, 0.915);
    --completion-bar-bg-color: rgba(230, 230, 230, 0.827);
    --completion-bar-outer-border-bg-color: rgba(32, 32, 32, 0.732);
    --completion-bar-filling-bg-color: rgba(61, 163, 88, 0.963);
    --completion-bar-filling-border-color: rgba(123, 123, 123, 0.195);
    --form-select-container-color: rgb(18, 18, 18);
    --footer-bg-color: rgb(18, 18, 18);
    --footer-color: rgb(238, 238, 238);
}


// App content
.app-container {
    background-color: var(--app-bg-color);
    max-height: 100vh;
    position: relative;
    transition: all .2s ease-in-out;
}


// Dark Mode content
.dark-mode-button {
    position: absolute;
    top: 2.5%;
    right: 2.50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all .2s ease-in-out;
    background-color: transparent;

    svg {
        font-size: 1.25rem;
        width: 1.35rem;
        height: 1.35rem;
        padding: .5rem;
        color: var(--dark-mode-icon-color);
        background-color: var(--dark-mode-icon-bg-color);
        transition: all .2s ease-in-out;
        border-radius: 2rem;

        &:hover {
            color: var(--dark-mode-icon-hover-color);
            background-color: var(--dark-mode-icon-hover-bg-color);
        }
    }
}


@import './media';
